{% extends 'recipe/base.html' %}
{% load static %}

{% block content %}
    <div class="page-header">
        <h3>Search results</h3>
    </div>
    <div class="list-group">
        <span class="list-group-item list-group-item-action active">
            Matches in recipe name
        </span>
        <!-- Iterate through search hits and create list with references -->
        {% for recipe in recipes %}
            <a href="/recipe/{{ recipe.id }}" class="list-group-item list-group-item-action">{{ recipe.name }}<span
                    class="badge badge-primary badge-pill">{{ recipe.mealType }}</span></a>
        {% endfor %}
    </div>
{% endblock %}

